* {
    margin: 0;
    padding: 0;

}



.contenido {

    padding: 1rem;
}

.curso_surf {

    text-align: center;
}


/*-------contacto--------*/

.contacto_principal {

    text-align: left;
    margin: 2rem;
    font-weight: 100;

}

.contacto_contenido {
    margin: 1rem;
    padding: 1rem;
    width: 80%;
    text-align: left;
}

.contacto_input {
    width: 80%;
    display: block;
    margin: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.contacto_btn {
    width: 30%;
    padding: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.contact-form-container {
    width: 50%;
    margin: 2rem;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/*-------personajes--------*/
.section-container-p {
    width: 50%;
    /*float: left;*/
    display: inline-block;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    padding: 2rem;
    margin: 1rem;


}

.section-container-p h1 {

    padding-bottom: 1rem;
}

.section-container-p h3 {

    padding-bottom: 1rem;
}

.section-container {
    width: 50%;
    /*float: left;*/
    border: rgba(0, 0, 0, 0.1) solid 1px;
    padding: 2rem;
    margin: 1rem;


}

.section-title {
    font-size: 24px;
    padding: 1rem;
    color: #333;
}

.section-description {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    line-height: normal;
}

.section-image {
    max-width: 100%;
    height: auto;
}


ul {
    list-style: none;
    /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
    /* Espacio entre los elementos de la lista */
}

a {
    text-decoration: none;
    /* Elimina el subrayado de los enlaces */
    color: #007BFF;
    /* Color del enlace */
    font-weight: bold;
    /* Texto en negrita */
    padding: 10px 15px;
    /* Espacio alrededor del texto */
    border-radius: 5px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease;
    /* Transición suave del color de fondo */
}

a:hover {
    /*background-color: #007BFF; /* Color de fondo al pasar el ratón */
    color: #ffffff;
    /* Color del texto al pasar el ratón */
}


/* estilos de la tabla */


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

tr:hover {
    background-color: #f2f2f2;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: flex-start;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #888;
    transition: color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    color: #f39c12;
}



.footer-text {
    color: #fff;
}


.content {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.section {
    margin-right: 20px;
    flex: 1;
}



.section-image {
    max-width: 100%;
    height: auto;
}

.section-description {
    color: #777;
    margin-top: 10px;
}

.section-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.section-link {
    text-decoration: none;
    color: #888;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.section-link:hover,
.section-link:focus {
    color: #f39c12;
}

.image-surf img {
    max-width: 100%;
    /* La imagen se ajustará al ancho máximo disponible */
    height: auto;
    /* La altura se ajustará proporcionalmente al ancho */


}

.footer {
    text-align: center;
    background-color: #333;
    padding: 10px 0;


    width: 100%;
}

.footer-text {
    color: #fff;
}

.image-cursos {

    width: 70%;
}

/* Resetear estilos de lista */
ul.enlaces-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos para los enlaces */
ul.enlaces-list li {
    display: inline-block;
    margin-right: 20px;
}

ul.enlaces-list li:last-child {
    margin-right: 0;
    /* Eliminar margen derecho del último enlace */
}

ul.enlaces-list li a {
    text-decoration: none;
    color: black;
    /* Color de enlace */
}

ul.enlaces-list li a:hover {
    color: gray;
    /* Color al pasar el mouse */
}