/* Reset de estilos para eliminar márgenes y padding predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: flex-start;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #888;
    transition: color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    color: #f39c12;
}

.footer {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    color: #fff;
}


.content {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.section {
    margin-right: 20px;
    flex: 1;
}

.section-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.section-image {
    max-width: 100%;
    height: auto;
}

.section-description {
    color: #777;
    margin-top: 10px;
}

.section-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.section-link {
    text-decoration: none;
    color: #888;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.section-link:hover,
.section-link:focus {
    color: #f39c12;
}
Este código añade un div con el título, imagen y descripción del contenido. Los enlaces se colocan debajo del contenido, uno abajo del otro. Los estilos y colores se mantienen coherentes con los mencionados anteriormente. Puedes reemplazar "imagen.jpg" con la ruta de tu propia imagen. Ajusta los tamaños, textos y otros aspectos según tus necesidades.



  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #333;
    color: #fff;
  }
  tr:hover {
    background-color: #f2f2f2;
  }
  

  .image-surf img {
    max-width: 100%; /* La imagen se ajustará al ancho máximo disponible */
    height: auto; /* La altura se ajustará proporcionalmente al ancho */
  }
  
  
  